@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #0b1220;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Sans", "Liberation Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
